.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}


.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.imdb-logo {
    font: 2em/1 Impact, HelveticaNeue-CondensedBold, sans-serif;     color: #000;
    text-shadow: 0 0 .15em #fff;
    text-decoration: none;

  
    display: inline-block;
    vertical-align: bottom;
    padding: .25em .35em;
    border-radius: .15em;
    background: radial-gradient(#ffffb8, #ce981d);
      
    &:hover {
      background: radial-gradient(lighten(#ffffb8, 10%), lighten(#ce981d, 10%));
    }
}
  

.user__avatar {
    font-size: 2rem;
}
